@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(68, 68, 68, 1);
  background: #fff;
  margin: 0;
  padding: 0;
}
body.is-lock {
  overflow: hidden;
}
.main {
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1632px;
  padding: 0 16px;
  margin: 0 auto;
  position: relative;
}
.swiper-promo {
  height: 960px;
}
.swiper-pagination {
  bottom: 55px !important;
  width: 240px !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative !important;
}
.swiper-promo .swiper-slide {
  background: url('./image/slide.jpg') no-repeat;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center;
}
.swiper-promo .swiper-pagination-bullet {
  opacity: 1 !important;
  background: #fff !important;
  width: 64px !important;
  height: 2px !important;
  margin: 0 !important;
  border-radius: 0 !important;
}
.swiper-promo .swiper-pagination-bullet-active {
  height: 8px !important;
}

.header {
  height: 72px;
  position: fixed;
  z-index: 100000;
  top: 20px;
  left: 0;
  right: 0;
}
header.bg-white .row {
  background: #fff;
  border: 1px solid rgba(194, 194, 194, 1);
}
header.bg-white .row .burger {
  border-right: 1px solid rgba(194, 194, 194, 1);
}
header.bg-white .row .apartment {
  border-right: 1px solid rgba(194, 194, 194, 1);
  border-left: 1px solid rgba(194, 194, 194, 1);
}
header.bg-white .row .logo svg path {
  fill: #000;
}
header.bg-white .row .logo svg path:last-child {
  stroke: #000;
}
header.bg-white .row .burger span {
  background: #000;
}
header.bg-white .row .burger.active span:nth-child(1) {
  background: #000;
}
header.bg-white .row .burger.active span:nth-child(2) {
  background: #000;
}
header.bg-white .row .burger.active span:nth-child(3) {
  background: #000;
}
header.bg-white .row .menu a {
  color: #000;
}
header.bg-white .row .contacts {
  border-left: 1px solid rgba(194, 194, 194, 1);
}
header.bg-white .row .phone {
  color: #000;
}
header.bg-white .row .social a svg {
  fill: #000;
}
.header .row {
  display: flex;
  border: 1px solid #fff;
}
.header .burger {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  width: 70px;
  padding: 0;
  margin: 0;
  border-right: 1px solid #fff;
  cursor: pointer;
}
.header .burger span {
  display: block;
  width: 24px;
  height: 2px;
  background: #fff;
  margin: 3px 0;
  align-self: center;
  transition: all 0.3s ease-in-out;
}
.header .logo {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .logo svg path {
  fill: #fff;
}
.header .logo svg path:last-child {
  stroke: #fff;
}
.header .apartment {
  font-family: 'Montserrat', serif;
  font-size: 1.8rem;
  background: #fff;
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 260px;
}
.header .menu {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.header .menu li {
  list-style: none;
  height: 100%;
  width: 100%;
}
.header .menu a {
  font-family: 'Montserrat', serif;
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .contacts {
  display: flex;
  align-items: center;
  gap: 16px;
  border-left: 1px solid #fff;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  padding: 0 40px;
}
.header .phone {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
}
.header .social {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header .social a svg {
  fill: #fff;
}
.header .request {
  font-family: 'Montserrat', serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background: linear-gradient(84.55deg, #a647ab 0%, #184eca 100%);
  width: 230px;
  border-left: 1px solid #fff;
}
.mobile-menu {
  display: block;
  position: absolute;
  left: auto;
  right: auto;
  top: 72px;
  max-width: 760px;
  bottom: auto;
  overflow: hidden;
  background: #fff;
  transform: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  height: 0;
  margin-left: -1px;
}
.header .burger.active span:nth-child(1) {
  width: 45%;
  margin: -5px 0;
  transform: rotate(45deg);
  background: #fff;
}
.header .burger.active span:nth-child(2) {
  opacity: 0;
  background: #fff;
}
.header .burger.active span:nth-child(3) {
  width: 45%;
  margin: -5px 0;
  transform: rotate(-45deg);
  background: #fff;
}
header.bg-white .mobile-menu .row {
  border: none;
}
.mobile-menu .list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile-menu .list a {
  display: block;
  font-size: 1.8rem;
  text-decoration: none;
  color: rgba(17, 17, 17, 1);
}
.mobile-menu .contacts-mob {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.mobile-menu .contacts-mob img {
  max-width: 100%;
}
.mobile-menu .contacts-mob h5 {
  margin-top: 16px;
  margin-bottom: 16px;
  color: rgba(17, 17, 17, 1);
  font-size: 1.8rem;
  font-weight: 700;
}
.mobile-menu .content {
  background: rgba(241, 241, 241, 1);
  padding: 16px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mobile-menu .contacts-mob .phone-mob {
  margin: 0;
  background: linear-gradient(84.55deg, #a647ab 0%, #184eca 100%);
  color: transparent;
  background-clip: text;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 16px;
  display: block;
}
.mobile-menu .contacts-mob p {
  margin: 0;
  color: rgba(17, 17, 17, 1);
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 16px;
}
.mobile-menu .contacts-mob .social {
  display: flex;
  gap: 8px;
}
.mobile-menu .contacts-mob .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 16px;
}
.mobile-menu .contacts-mob .map-mob {
  text-decoration: none;
  color: rgba(17, 17, 17, 1);
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
}
.mobile-menu .contacts-mob .map-mob img {
  width: 12px;
}
.mobile-menu button {
  font-family: 'Montserrat', serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background: linear-gradient(84.55deg, #a647ab 0%, #184eca 100%);
  width: 100%;
  height: 70px;
}
.mobile-menu.active {
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
  height: 640px;
}
.mobile-menu .container .row {
  display: grid !important;
  grid-template-areas: 'list contacts' 'list button';
  grid-template-columns: 1fr 1fr;
}
.mobile-menu .list {
  grid-area: list;
  margin: 0;
}
.mobile-menu .contacts-mob {
  grid-area: contacts;
}
.mobile-menu button {
  grid-area: button;
}
.phone-mobile {
  display: none;
}
.promo .title {
  color: #fff;
  font-size: 6.4rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 300px;
  margin-bottom: 40px;
  text-shadow: 2px 4px 4px rgba(152, 72, 175, 1);
}
.promo .subtitle {
  color: #fff;
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 100px;
  max-width: 35%;
}
.promo .info {
  border: 1px solid #fff;
  display: flex;
  width: 460px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.promo .info .col {
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.promo .info .col:first-child {
  border-right: 1px solid #fff;
  /* width: 160px; */
}
.promo .info .col span:first-child {
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
}
.promo .info .col span:last-child {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}

.promo .link {
  position: absolute;
  right: 16px;
  bottom: 0;
  z-index: 1000;
  display: flex;
  background: #fff;
  bottom: 55px;
  text-decoration: none;
}
.promo .link div {
  padding: 15px 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.promo .link p {
  margin: 0;
  font-size: 1.8rem;
  color: rgba(17, 17, 17, 1);
  display: flex;
  flex-direction: column;
  max-width: 170px;
  line-height: 1.2;
}

.advantages {
  padding: 80px 0;
  background: #fff;
}
.advantages .top {
  display: flex;
  justify-content: space-between;
}
.advantages .row {
  display: grid;
  grid-template-areas: 'top swiper' 'bottom bottom';
  grid-gap: 100px 0;
}
.advantages .top {
  grid-area: top;
}
.advantages .swiper-advantages {
  grid-area: swiper;
  margin: 0;
}
.advantages .swiper-advantages .swiper-wrapper {
  gap: 40px;
}
.swiper-advantages .swiper-slide {
  flex: 1 0;
}
.swiper-advantages .swiper-slide img {
  width: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.swiper-advantages .swiper-slide p {
  font-size: 1.8rem;
  color: rgba(68, 68, 68, 1);
  margin-bottom: 0;
  margin-top: 16px;
}
.advantages .bottom {
  grid-area: bottom;
}
.advantages .top h2 {
  margin: 0;
  font-size: 3.2rem;
  color: rgba(68, 68, 68, 1);
  background-clip: text;
  line-height: 1.2;
  max-width: 350px;
}
.advantages .top .info {
  display: flex;
  gap: 40px;
}
.advantages .top .info div {
  width: 230px;
}
.advantages .top .info p {
  margin: 0;
  font-size: 2.4rem;
}
.advantages .bottom p {
  display: inline-block;
  font-size: 2.4rem;
  text-transform: uppercase;
  background: linear-gradient(84.55deg, #a647ab 0%, #184eca 100%);
  color: transparent;
  background-clip: text;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 700;
}
.advantages .bottom .info {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages .bottom .col {
  position: relative;
}

.advantages .bottom .col div:first-child {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  position: absolute;
  left: 16px;
  top: 16px;
  width: 135px;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}
.advantages .bottom .col div p:first-child {
  font-size: 3.2rem;
  color: #000;
  margin: 0;
}
.advantages .bottom .col div p:last-child {
  color: #000;
  font-size: 1.6rem;
  border: 1px solid #000;
  padding: 8px;
  margin: 0;
  text-transform: lowercase;
  font-weight: 400;
}
.advantages .bottom .col img {
  width: 100%;
  max-width: 100%;
  display: block;
}
.advantages .bottom .col a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  width: 56px;
  height: 56px;
  bottom: 16px;
  right: 16px;
}
.advantages .bottom .col a img {
  width: 12px;
  height: 12px;
}
.infrastructure {
  background: rgba(241, 241, 241, 1) url('./image/pattern.jpg') no-repeat;
  background-size: cover;
  padding: 60px 0 80px;
}
.infrastructure .row {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.infrastructure .col {
  display: flex;
  gap: 40px;
}
.infrastructure .col:first-child {
  flex-direction: row-reverse;
}
.infrastructure .col:last-child {
}
.infrastructure .col div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}
.infrastructure .col > img {
  width: 50%;
  object-fit: cover;
}
.infrastructure h2 {
  margin: 0;
  font-size: 4rem;
  background: linear-gradient(84.55deg, #a647ab 0%, #184eca 100%);
  color: transparent;
  line-height: 1.2;
  background-clip: text;
  margin-bottom: 32px;
}
.infrastructure p {
  margin: 0;
  font-size: 2.4rem;
  color: rgba(68, 68, 68, 1);
  margin-bottom: 60px;
}
.infrastructure a {
  font-size: 2.4rem;
  display: flex;
  gap: 10px;
  color: #000;
  text-decoration: none;
  align-items: center;
}
.infrastructure a img {
  height: 18px;
}
.planning {
  padding: 80px 0;
}

.planning h2 {
  margin: 0;
  font-size: 4rem;
  background: linear-gradient(84.55deg, #a647ab 0%, #184eca 100%);
  color: transparent;
  background-clip: text;
  margin-bottom: 40px;
  line-height: 1.2;
  display: inline-block;
}
.planning .info {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.planning .col {
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid rgba(194, 194, 194, 1);
}
.planning .col div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.planning .col div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.planning .col div:nth-child(2) span:nth-child(1) {
  display: inline-block;
  margin: 0;
  font-size: 4rem;
  display: block;
  font-weight: 700;
  background: linear-gradient(84.55deg, #a647ab 0%, #184eca 100%);
  color: transparent;
  background-clip: text;
  line-height: 1.2;
}
.planning .col div:nth-child(2) span:nth-child(2) {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 20px;
}
.planning .col p {
  margin: 0;
  font-size: 1.8rem;
}
.planning .room {
  position: relative;
  flex: 1 0 380px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.planning .room a {
  position: absolute;
  text-decoration: none;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.planning .room a span {
  width: 160px;
  background: #fff;
  padding: 15px;
  color: #000;
  font-size: 1.8rem;
  line-height: 1.2;
}
.planning .room a div {
  background: rgba(255, 255, 255, 0.5);
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.planning .room a div svg {
  width: 32px;
  height: 32px;
}
.map .row {
  border: 1px solid rgba(194, 194, 194, 1);
  position: relative;
}
.map #map {
  width: 100%;
  max-width: 100%;
  height: 600px;
}
.map .info {
  position: absolute;
  z-index: 100;
  width: 500px;
  left: 1px;
  top: 1px;
  bottom: 1px;
  background: rgba(255, 255, 255, 0.4);
  border-right: 2px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(1640px);
  padding: 90px 60px;
}
.map .info h3 {
  color: #000;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}
.map .info button {
  cursor: pointer;
  font-family: 'Montserrat', serif;
  font-size: 2.4rem;
  background: linear-gradient(84.55deg, #a647ab 0%, #184eca 100%);
  width: 310px;
  height: 72px;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 32px;
  position: relative;
}
.map .info button div {
  position: absolute;
  left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 68px;
  height: 68px;
}
.news {
  background: #fff;
  padding: 80px 0;
}
.news h2 {
  margin: 0;
  margin-bottom: 40px;
  line-height: 1.2;
}
.news h2 span {
  font-size: 4rem;
  background: linear-gradient(84.55deg, #a647ab 0%, #184eca 100%);
  color: transparent;
  background-clip: text;
  line-height: 1.2;
}
.news h2 a {
  font-size: 4rem;
  color: rgba(204, 204, 204, 1);
  text-decoration: underline;
  line-height: 1.2;
}
.news .swiper-wrapper {
}
.news .swiper-wrapper .swiper-slide a {
  background-size: cover !important;
  text-decoration: none;
  position: relative;
  min-height: 520px;
  width: 100%;
  display: block;
}
.news .swiper-wrapper .swiper-slide div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 85px;
  height: 85px;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.news .swiper-wrapper .swiper-slide div span:first-child {
  font-size: 3.2rem;
  color: #000;
}
.news .swiper-wrapper .swiper-slide div span:last-child {
  font-size: 1.8rem;
  color: #000;
}
.news .swiper-wrapper .swiper-slide a p {
  padding: 80px 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 24px 24px 32px 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  color: rgba(17, 17, 17, 1);
}
.gallery {
  padding: 80px 0 80px;
  background: #fff;
}
.gallery h2 {
  margin: 0;
  margin-bottom: 40px;
}
.gallery h2 span {
  font-size: 4rem;
  background: linear-gradient(84.55deg, #a647ab 0%, #184eca 100%);
  color: transparent;
  background-clip: text;
}
.gallery h2 a {
  font-size: 4rem;
  color: rgba(204, 204, 204, 1);
  text-decoration: underline;
}
.gallery .info {
  display: grid;
  grid-template-areas: 'col1 col3 col4' 'col2 col3 col5';
  gap: 2px;
  grid-template-rows: 330px 330px;
}
.gallery .info .col {
  position: relative;
}
.gallery .info .col:nth-child(1) {
  grid-area: col1;
}
.gallery .info .col:nth-child(2) {
  grid-area: col2;
}
.gallery .info .col:nth-child(3) {
  grid-area: col3;
}
.gallery .info .col:nth-child(4) {
  grid-area: col4;
}
.gallery .info .col:nth-child(5) {
  grid-area: col5;
}
.gallery .info span {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  color: #000;
}
.feedback {
  padding: 80px 0 60px;
  background: rgba(241, 241, 241, 1);
  position: relative;
}
.feedback .col {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.feedback h2 {
  font-weight: 700;
  font-size: 4rem;
  background: linear-gradient(84.55deg, #a647ab 0%, #184eca 100%);
  color: transparent;
  background-clip: text;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 40px;
  display: inline-block;
}
.feedback .info {
  width: 50%;
  background: #fff;
  display: flex;
}
.feedback .info .content {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.feedback .info .content h5 {
  font-size: 2.4rem;
  margin: 0;
  margin-bottom: 40px;
  color: rgba(17, 17, 17, 1);
  opacity: 0.3;
}
.feedback .info .content a:first-of-type {
  text-decoration: none;
  font-size: 4rem;
  font-weight: 700;
  background: linear-gradient(84.55deg, #a647ab 0%, #184eca 100%);
  color: transparent;
  background-clip: text;
  margin-bottom: 24px;
  display: inline-block;
}
.feedback .info .content p {
  margin: 0;
  font-size: 1.8rem;
  color: rgba(68, 68, 68, 1);
  margin-bottom: 24px;
}
.feedback .info .content a:last-of-type {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.feedback .info .content a:last-of-type img {
  height: 18px;
}
.feedback form {
  width: 50%;
  background: #fff;
  padding: 40px;
  display: grid;
  grid-gap: 0 40px;
  grid-template-areas: 'title title' 'name name' 'phone phone' 'checkbox button';
}
.feedback form h5 {
  font-size: 2.4rem;
  margin: 0;
  margin-bottom: 40px;
  color: rgba(17, 17, 17, 1);
  opacity: 0.3;
  grid-area: title;
}
.feedback form label span {
  color: rgba(17, 17, 17, 1);
  font-family: 'Montserrat', serif;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.feedback form input {
  width: 100%;
  height: 82px;
  border: 1px solid rgba(194, 194, 194, 1);
  padding: 16px 24px;
  font-family: 'Montserrat', serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #000;
}
.feedback form input::placeholder {
  font-family: 'Montserrat', serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
}
.feedback form .name {
  grid-area: name;
  margin-bottom: 20px;
}
.feedback form .phone {
  grid-area: phone;
  margin-bottom: 40px;
}
.feedback form .checkbox {
  font-family: 'Montserrat', serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
  grid-area: checkbox;
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  line-height: 1.2;
}
.feedback form .checkbox span {
  cursor: pointer;
  display: flex;
  flex: 0 0 32px;
  border: 1px solid #c2c2c2;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.feedback form .checkbox input:checked + span {
  background: url('./image/check.svg') no-repeat;
  background-position: center;
}
.feedback form .checkbox input {
  visibility: hidden; /* <-- Hide the default checkbox. The rest is to hide and allow tabbing, which display:none prevents */
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}
.feedback form button {
  width: 330px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(84.55deg, #a647ab 0%, #184eca 100%);
  grid-area: button;
}
.footer {
  padding: 60px 0 80px;
  background: #f1f1f1;
  position: relative;
}

.footer .row {
  display: grid;
  grid-template-areas:
    'logo menu'
    'address menu'
    'faq social'
    'copyright privacy';
  gap: 0 40px;
  grid-template-columns: 1fr 1fr;
}
.footer .row::before {
  content: '';
  height: 1px;
  display: block;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  border-top: 1px solid rgba(17, 17, 17, 1);
  opacity: 0.2;
  position: absolute;
  top: -60px;
}
.footer .logo {
  grid-area: logo;
  margin-bottom: 40px;
}
.footer .address {
  grid-area: address;
  margin-bottom: 40px;
}
.footer .address p {
  font-size: 1.8rem;
  color: #000;
  margin: 0;
}
.footer .address p:last-child {
  opacity: 0.5;
  max-width: 400px;
  margin-top: 10px;
}
.footer .faq {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-area: faq;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}
.footer .faq li {
  list-style: none;
}
.footer .faq li a {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  position: relative;
}
.footer .faq li a::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: #c2c2c2;
  position: absolute;
  bottom: -5px;
}
.footer .menu {
  grid-area: menu;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
  gap: 0 120px;
}
.footer .menu li {
  list-style: none;
}
.footer .menu li a {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  position: relative;
}
.footer .menu li a::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: #c2c2c2;
  position: absolute;
  bottom: -5px;
}
.footer .social {
  padding: 0;
  margin: 0;
  grid-area: social;
  display: flex;
  gap: 24px;
  align-self: flex-end;
  margin-bottom: 60px;
}
.footer .social li {
  list-style: none;
}
.footer .social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
.footer .copyright {
  grid-area: copyright;
  display: flex;
  gap: 40px;
}
.footer .copyright p {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgba(119, 119, 119, 1);
  margin: 0;
}
.footer .copyright a {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  color: rgba(119, 119, 119, 1);
}
.footer .privacy {
  grid-area: privacy;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
  gap: 0 120px;
}
.footer .privacy a {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  color: rgba(119, 119, 119, 1);
}
.watched {
  padding: 80px 0;
}
.watched h2 {
  display: inline-block;
  background: linear-gradient(84.55deg, #a647ab 0%, #184eca 100%);
  color: transparent;
  background-clip: text;
  margin: 0;
  margin-bottom: 40px;
}
.watched .info {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.watched .col {
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid rgba(194, 194, 194, 1);
}
.watched .col div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.watched .col div:nth-child(2) span:nth-child(1) {
  display: inline-block;
  margin: 0;
  font-size: 4rem;
  font-weight: 700;
  background: linear-gradient(84.55deg, #a647ab 0%, #184eca 100%);
  color: transparent;
  background-clip: text;
  line-height: 1.2;
}
.watched .col div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.watched .col div:nth-child(2) span:nth-child(2) {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 20px;
}
.watched .col p {
  margin: 0;
  font-size: 1.8rem;
}
@media (max-width: 1919px) {
  .footer .row::before {
    display: none;
  }
  .header .apartment {
    width: 240px;
  }
  .header .contacts {
    padding: 0 20px;
  }
}
@media (max-width: 1599px) {
  .promo {
    margin-top: 72px;
  }
  .header .logo svg path {
    fill: #000;
  }
  .header .logo svg path:last-child {
    stroke: #000;
  }
  .feedback .col {
    flex-direction: column;
  }
  .feedback .info {
    flex-direction: column;
    width: 100%;
  }
  .feedback form {
    width: 100%;
    padding: 24px;
    grid-template-areas:
      'title'
      'name'
      'phone'
      'checkbox'
      'button';
  }
  .feedback .info img {
    height: 300px;
    object-fit: cover;
  }
  .feedback form .checkbox {
    margin-bottom: 24px;
  }
  .planning .info {
    flex-wrap: wrap;
  }
  .planning .room {
    flex: 1 0 calc(50% - 24px);
    background-size: cover !important;
  }
  .advantages .row {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }
  .planning .col {
    flex: 1 0 calc(50% - 24px);
  }
  .advantages .swiper-advantages {
    margin-bottom: 40px;
  }
  .advantages .top h2 {
    margin-bottom: 2.4rem;
  }
  .swiper-advantages .swiper-slide {
    flex: none;
  }
  .swiper-advantages .swiper-slide img {
    height: 300px;
  }
  .advantages .swiper-advantages .swiper-wrapper {
    gap: 0;
  }
  .header .phone-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-left: 1px solid rgba(194, 194, 194, 1);
    text-decoration: none;
  }
  .header .apartment {
    border-right: 1px solid rgba(194, 194, 194, 1);
    border-left: 1px solid rgba(194, 194, 194, 1);
  }
  .header .phone {
    color: #000;
  }
  .header .contacts {
    padding: 0;
  }
  .header .social a svg {
    fill: #000;
  }
  header.bg-white .row .burger.active span:nth-child(1) {
    background: #fff;
  }
  header.bg-white .row .burger.active span:nth-child(2) {
    background: #fff;
  }
  header.bg-white .row .burger.active span:nth-child(3) {
    background: #fff;
  }
  .header .burger {
    border-right: 1px solid rgba(194, 194, 194, 1);
  }
  .header .burger span {
    background: #000;
  }
  .header .container .row {
    display: flex;
    border: none;
    justify-content: space-between;
  }
  .header {
    background: #fff;
    border: 1px solid rgba(194, 194, 194, 1);
    top: 0;
    z-index: 10000;
  }
  .header > .container {
    padding: 0;
  }
  .header .menu {
    display: none;
  }
  .header .request {
    display: none;
  }
  .header .burger {
    transition: all 0.3s ease-in-out;
  }
  .header .burger.active {
    background: rgba(68, 68, 68, 1);
  }
  .header .burger.active span:nth-child(1) {
    width: 45%;
    margin: -5px 0;
    transform: rotate(45deg);
    background: #fff;
  }
  .header .burger.active span:nth-child(2) {
    opacity: 0;
    background: #fff;
  }
  .header .burger.active span:nth-child(3) {
    width: 45%;
    margin: -5px 0;
    transform: rotate(-45deg);
    background: #fff;
  }
  .mobile-menu {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 72px;
    bottom: auto;
    overflow: auto;
    background: #fff;
    padding: 32px 0 16px;
    transform: translateX(-110%);
    transition: all 0.3s ease-in-out;
    height: 640px;
    margin-left: 0;
  }
  .watched .info {
    flex-wrap: wrap;
  }
  .watched .col {
    flex: 1 0 calc(50% - 24px);
  }
}
@media (max-width: 1199px) {
  .mobile-menu {
    bottom: 0;
  }
  .promo .info {
    display: none;
  }
}
@media (max-width: 991px) {
  .watched .col {
    flex: 1 0 100%;
    flex-direction: row-reverse;
  }
  .watched .col img {
    max-width: 100%;
    display: block;
    width: 100%;
  }
  .watched .col div:nth-child(2) span:nth-child(1) {
    font-size: 3.2rem;
  }
  .watched .col div:nth-child(2) span:nth-child(2) {
    font-size: 1.4rem;
  }
  .watched .col p {
    font-size: 1.4rem;
  }
  .swiper-promo .swiper-slide {
    background: url('./image/slide-mob.jpg') no-repeat;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center;
  }
  .mobile-menu {
    left: 0;
    right: 0;
    max-width: 100%;
    position: fixed;
    height: auto;
  }
  .mobile-menu.active {
    height: auto;
  }
  .header .apartment {
    display: none;
  }
  .swiper-promo {
    height: 600px;
  }
  .promo .title {
    margin-top: 40px;
    margin-bottom: 24px;
    font-size: 3.2rem;
  }
  .promo .subtitle {
    font-size: 1.8rem;
    margin-bottom: 24px;
    max-width: 70%;
  }
  .promo .info {
    width: 100%;
  }
  .promo .info .col span:first-child {
    font-size: 2.4rem;
  }
  .promo .info .col span:last-child {
    font-size: 1.4rem;
  }
  .swiper-pagination {
    bottom: 24px !important;
  }
  .promo .info .col {
    padding: 8px 8px 16px 8px;
  }
  .promo .link div {
    padding: 10px 16px;
    justify-content: space-between;
    width: 100%;
  }
  .promo .link div img {
    height: 24px;
  }
  .promo .link > img {
    height: 72px;
  }
  .promo .link p {
    font-size: 1.4rem;
  }
  .advantages {
    padding: 24px 0 40px;
  }
  .advantages h2 {
    margin: 0;
    line-height: 1;
  }
  .advantages .top h2 span {
    font-size: 2.4rem;
    color: rgba(68, 68, 68, 1);
    line-height: 1;
  }
  .swiper-advantages {
    overflow: visible !important;
    margin-bottom: 64px;
  }
  .swiper-advantages .swiper-slide img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }
  .swiper-advantages .swiper-slide p {
    margin: 0;
    margin-top: 16px;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(68, 68, 68, 1);
  }
  .advantages .bottom .info {
    flex-direction: column;
    gap: 16px;
  }
  .advantages .bottom .info .col > img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 140px;
    display: block;
  }
  .advantages .bottom .col div:first-child {
    flex-direction: row;
    width: 155px;
    height: 50px;
    padding: 8px;
  }
  .advantages .bottom .col div p:last-child {
    padding: 4px;
  }
  .advantages .bottom .col:nth-child(1) {
    height: 300px;
  }
  .advantages .bottom .col:nth-child(1) img {
    max-height: 300px;
    height: 100%;
  }
  .advantages .bottom .info .col a {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.8);
    width: 56px;
    height: 56px;
    position: absolute;
    right: 8px;
    bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .advantages .bottom .info .col a img {
    width: 12px;
  }
  .advantages .bottom .col div {
    width: 160px;
    height: 54px;
    flex-direction: row;
    gap: 16px;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  .advantages .bottom .col div p:first-child {
    font-size: 2.4rem;
  }
  .advantages .bottom .col div p:last-child {
    font-size: 1.4rem;
  }
  .advantages .bottom .col div:first-child {
    left: 8px;
    top: 8px;
  }
  .advantages .bottom p {
    margin-bottom: 24px;
  }
  .advantages .top {
    margin-bottom: 24px;
  }
  .infrastructure {
    padding: 24px 0 40px;
  }
  .infrastructure .row {
    gap: 16px;
  }
  .infrastructure .col > img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }
  .infrastructure div {
    display: flex;
    flex-direction: column !important;
    min-height: 280px;
  }
  .infrastructure .col div {
    width: 100%;
  }
  .infrastructure .col {
    gap: 0;
  }
  .infrastructure h2 {
    margin: 16px 0;
    font-size: 2.4rem;
  }
  .infrastructure p {
    font-size: 1.4rem;
    margin-bottom: 24px;
  }
  .infrastructure a {
    font-size: 1.4rem;
  }
  .infrastructure a img {
    width: 12px;
  }
  .planning {
    padding: 24px 0 40px;
  }
  .planning h2 {
    font-size: 3.2rem;
    margin-bottom: 24px;
  }
  .planning .info {
    flex-direction: column;
    gap: 16px;
  }
  .planning .col {
    gap: 0;
    flex-direction: row-reverse;
    gap: 16px;
  }
  .planning .col img {
    max-width: 100%;
    display: block;
    width: 100%;
  }
  .planning .col div:nth-child(2) span:nth-child(1) {
    font-size: 3.2rem;
    display: inline-block;
  }
  .planning .col div:nth-child(2) span:nth-child(2) {
    font-size: 1.4rem;
    display: block;
  }
  .planning .col p {
    font-size: 1.4rem;
  }
  .planning .room {
    flex: 1 0 auto;
    height: 100px;
    background-size: cover !important;
    padding: 16px;
  }
  .planning .room a {
    left: 16px;
    top: 16px;
    right: 16px;
    bottom: 16px;
    transform: none;
  }
  .planning .room a span {
    width: 100%;
  }
  .map .info {
    width: 100%;
  }
  .map {
    border-top: 2px solid rgba(194, 194, 194, 1);
    border-bottom: 2px solid rgba(194, 194, 194, 1);
    margin: 0 -16px;
  }
  .map .row {
    border: none;
  }
  .map .info h3 {
    font-size: 3.2rem;
  }
  .map .info button {
    width: 265px;
    font-size: 1.8rem;
  }
  .map .info {
    border: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .news {
    padding: 24px 0 40px;
  }
  .news h2 span {
    font-size: 3.2rem;
  }
  .news h2 a {
    font-size: 3.2rem;
  }
  .news .swiper-news .swiper-slide a {
    min-height: 400px;
    position: relative;
    display: block;
    background-size: cover !important;
  }
  .news .swiper-news .swiper-slide a div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 68px;
    height: 68px;
    left: 8px;
    top: 8px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
  }
  .news .swiper-news .swiper-slide a div span:first-child {
    font-size: 3.2rem;
    color: #000;
    line-height: 1;
    font-weight: 700;
  }
  .news .swiper-news .swiper-slide a div span:last-child {
    font-size: 1.8rem;
    color: #000;
    line-height: 1;
  }
  .news .swiper-news .swiper-slide a p {
    padding: 80px 0;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 24px 24px 32px 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    color: rgba(17, 17, 17, 1);
    font-size: 1.8rem;
  }
  .gallery {
    padding: 24px 0 40px;
  }
  .gallery h2 {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .gallery h2 a {
    font-size: 3.2rem;
  }
  .gallery h2 span {
    font-size: 3.2rem;
  }
  .gallery .info {
    display: grid;
    grid-template-areas:
      'col1 col3'
      'col2 col3'
      'col4 col5';
    gap: 2px;
    grid-template-rows: 150px 150px 150px;
  }
  .gallery .info .col {
    background-size: cover !important;
  }
  .gallery .info span {
    top: 8px;
    left: 8px;
    font-size: 1rem;
  }
  .feedback {
    padding: 24px 0 40px;
  }
  .feedback h2 {
    font-size: 3.2rem;
    margin-bottom: 24px;
  }
  .feedback .info img {
    object-fit: cover;
    height: 240px;
  }
  .feedback .info .content {
    padding: 24px;
  }
  .feedback .info .content h5 {
    margin-bottom: 24px;
    font-size: 2.4rem;
  }
  .feedback .info .content a:first-of-type {
    margin-bottom: 24px;
    font-size: 3.2rem;
  }
  .feedback .info .content p {
    margin-bottom: 24px;
    font-size: 1.8rem;
  }
  .feedback .info .content a:last-of-type {
    font-size: 1.8rem;
  }
  .feedback .info .content a:last-of-type img {
    height: 12px;
  }
  .feedback form h5 {
    margin-bottom: 24px;
    font-size: 2.4rem;
  }
  .feedback form input {
    height: 56px;
  }
  .feedback form label span {
    font-size: 1.8rem;
  }
  .feedback form input {
    font-size: 1.8rem;
    padding: 16px;
    color: #000;
  }
  .feedback form input::placeholder {
    font-size: 1.8rem;
  }
  .feedback form .name {
    margin-bottom: 16px;
  }
  .feedback form .phone {
    margin-bottom: 24px;
  }
  .feedback form .checkbox {
    margin-bottom: 24px;
    font-size: 1.4rem;
  }
  .feedback form button {
    font-size: 1.8rem;
    width: 100%;
  }
  .footer {
    padding: 24px 0 40px;
  }
  .footer .row {
    grid-template-areas:
      'logo '
      'address'
      'faq'
      'menu'
      'social'
      'copyright'
      'privacy';
  }
  .footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .footer .address {
    margin-bottom: 24px;
  }
  .footer .address p {
    font-size: 1.4rem;
  }

  .footer .menu {
    grid-template-columns: 1fr;
    gap: 0 16px;
    margin-bottom: 16px;
  }
  .footer .menu li a {
    font-size: 1.4rem;
  }
  .footer .row::before {
    display: none;
  }
  .footer .faq {
    gap: 8px;
    margin-bottom: 32px;
  }
  .footer .faq li a {
    font-size: 1.4rem;
  }
  .footer .social {
    padding: 16px 0;
    margin-bottom: 16px;
  }
  .footer .copyright {
    flex-direction: column;
    gap: 16px;
  }
  .footer .privacy {
    margin-top: 16px;
  }
  .footer .copyright p {
    font-size: 1.4rem;
  }
  .footer .copyright a {
    font-size: 1.4rem;
  }
  .footer .privacy a {
    font-size: 1.4rem;
  }
  .footer .menu {
    grid-template-rows: 1fr;
    /* grid-template-columns: 1fr 1fr; */
  }
  .footer .menu li a::before {
    bottom: -4px;
  }
  .footer .faq li a::before {
    bottom: -4px;
  }
  .footer .privacy {
    /* grid-template-columns: 1fr 1fr; */
  }
}
@media (max-width: 767px) {
  .swiper-advantages .swiper-slide img {
    height: 160px;
  }
  .mobile-menu .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
  }
  .mobile-menu {
    bottom: 0;
  }
  .mobile-menu .container > .row {
    display: flex !important;
    flex-direction: column;
  }
  .promo .link {
    bottom: 50px;
    left: 16px;
    right: 16px;
  }
  .header .contacts {
    display: none;
  }
  .footer .privacy {
    grid-template-columns: 1fr;
  }
}
